.discount-widget {
    width: 100%;
    background: url('../../../public/gifts.png'), #0a0a0a;
    background-size: cover;
    background-position: -125px 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 34px 0px #00000073;
    transition: all ease .3s;

    position: fixed;
    bottom: 17px;
}

.discount-widget-layout {
    /* Width only to fit children + flex capabilities */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.discount-widget .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.discount-widget h1 {
    font-size: 46px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: -0.04em;
    text-align: center;

    margin-top: 91px;
}

.discount-widget h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.04em;
    text-align: center;

    background: linear-gradient(90deg, #7D5317 16.52%, #EDDF95 83.91%),
        linear-gradient(0deg, rgba(210, 152, 26, 0.6), rgba(210, 152, 26, 0.6));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 9px;
}

.discount-widget h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #6C6C70;

    margin-top: 14px;
}

.discount-widget .discount-code {
    color: #D7A830;
}

.discount-widget button {
    width: fit-content;
    box-sizing: border-box;
    height: 42px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 14px;
    gap: 10px;
    opacity: 0.9px;

    background: #FFFFFF1A;
    border: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.005em;
    text-align: center;

    margin-top: 52px;
    margin-bottom: 55px;
}

.discount-widget button::after {
    content: "Shop now";
}

@media only screen and (min-width: 900px) {
    .discount-widget {
        border-radius: 16px;
        background-position: center;
        justify-content: flex-end;

        width: 600px;
        right: 17px;
    }

    .discount-widget-layout {
        margin-right: 30px;
    }

    .discount-widget button::after {
        content: "Shop now on Monday";
    }
}