.smooth-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease 400ms, opacity 400ms ease;
}

.smooth-shown {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s ease 0s, opacity 400ms ease;
}