.top-banner {
    width: 100%;
    background-image: url('../../../public/gifts-mobile-top-banner.png'), linear-gradient(180deg, rgb(16, 16, 16) 0%, rgb(15, 15, 15) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    height: 54px;
    margin-top: 54px;
}

.discount-menu-frame.portrait {
    display: inline-flex;
    justify-content: right;
}

.discount-menu-frame.landscape {
    display: none;
}

.discount-menu-frame {
    width: 100%;
    height: 100%;
    padding-right: 24px;
    align-items: center;
}

.discount-menu-texts span {
    font-family: "Graphik LC-Semibold", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;
    line-height: 20px;
    white-space: nowrap;
}

.discount-amount, .discount-code {
    color: #d7a830;
    letter-spacing: -0.64px;
    font-weight: 600;
    margin-left: 4px;
}

.discount-menu-frame .discount-menu-arrow {
    width: 30px;
    margin-left: 18px;
}

@media only screen and (min-width: 900px) {
    .discount-menu-frame.portrait {
        display: none;
    }

    .discount-menu-frame.landscape {
        display: inline-flex;
        justify-content: center;
        padding-right: 24px;
    }

    .discount-menu-texts {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .discount-menu-texts span {
        white-space: nowrap;

        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.003em;
        text-align: left;
    }

    .discount-menu-texts .divider {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #FFFFFF26;
    }

    .discount-menu-frame.landscape button.cta {
        background: rgb(var(--invert-background-rgb));
        color: rgb(var(--invert-foreground-rgb));
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 10px;
        padding-bottom: 10px;

        border: none;
        border-radius: 14px;
        gap: 10px;

        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }

    .discount-menu-frame.landscape .close-button {
        margin-left: 14px;
    }
}