@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --invert-foreground-rgb: 0, 0, 0;
  --invert-background-rgb: 255, 255, 255;
  --text-nightprimary-1: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;

  height: 100dvh;
  width: 100%;
  margin: 0rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}